@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1731083952504') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuanyemingcheng:before {
  content: "\e627";
}

.icon-xingming:before {
  content: "\e63e";
}

.icon-xueyuan:before {
  content: "\e624";
}

.icon-xuehao:before {
  content: "\e77d";
}

.icon-shengrix:before {
  content: "\e62e";
}

.icon-xingbie:before {
  content: "\e61d";
}

