:root {
    /* --color-bg-body: rgb(186, 212, 227);
    --color-bg-box: rgb(94, 126, 162);
    --color-btn: #5e7ea2;
    --color-box-shadow-top: #4c6683;
    /* --color-box-shadow-bottom: #7096c1; */
    /*86cd65 */
    --color-bg-body: rgb(186, 227, 186);
    --color-bg-box: rgba(94, 162, 94, 0.747);
    --color-btn: #5eA25e;
    --color-box-shadow-top: #4c834c;
    --color-box-shadow-bottom: #70c170;
    /* --color-bg-body: linear-gradient(to bottom, #d8f3dc, #40916c);
    --color-bg-box: rgba(64, 145, 108, 0.85);
    --color-btn: #2d6a4f;
    --color-btn-hover: #1b4332;
    --color-box-shadow-top: rgba(60, 129, 93, 0.8);
 --color-box-shadow-bottom: rgba(79, 183, 135, 0.9); #c7f766*/
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, rgba(249, 253, 3, 0.853), #86cd65);
    height: 100vh;
    /* background: var(--color-bg-body); */
    transition: .3s;

}

.content {
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    box-sizing: border-box;
    border: 4px solid transparent;
    border-radius: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 2vmin 2vmin;
}

.content::before {
    content: "";
    width: 200%;
    height: 200%;
    /* border-color: #22292f; */
    background-image: conic-gradient(transparent,
            #c7f766,
            transparent 30%);

    left: -50%;
    top: -50%;
    z-index: -2;
    position: absolute;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.content::after {
    content: "";
    inset: 0.5vmin;
    border-radius: 20px;
    /* background: rgb(168, 164, 164); */
    position: absolute;
    z-index: -1;
}


body .box-img {
    flex: 1;
    position: relative;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
    background: #ffffff;
    border-radius: 20px 0 0 20px;
    z-index: 4;
}

body .box-img .head {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 45px;
}

body .box-img .img-bg {
    /* width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0; */
    width: 100%;
    height: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0;
}

body .box-img .controls {
    /* display: flex;
    top: 50%;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    transform: translateY(-50%);
    padding: 0 10px; */
    position: absolute;
    top: 50%;
    /* 让箭头位于box-img的正中央 */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    /* padding: 0 20px; */
    /* 增加左右间距，防止箭头紧贴边缘 */
    pointer-events: none;
}

body .box-img .controls .arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    pointer-events: all;
}

body .box-img .controls .iconfont {
    font-size: 30px;
    transition: .3s;
}

body .box-img .controls .iconfont:hover {
    color: #a2d5a2;
}

/* 
body .box-img .img1 {
    opacity: 1;
    background: url(./image/lv1.png);
    overflow: hidden;
} */

body .box-forms {
    flex: 1;
    /* background: var(--color-bg-box); */
    background: rgba(94, 162, 94, 0.955);
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    z-index: 4;
}


body .box-forms .logon {
    padding: 20%;
    position: relative;
}

body .box-forms .logon .title {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        display: block;
        margin-bottom: 45px;
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        background: linear-gradient(to right, yellow 10%, white 40%, white 60%, yellow 90%);
        -webkit-background-clip: text;
        background-size: 300% 100%;
        -webkit-text-fill-color: transparent;
        animation: gradientMove 3s linear infinite;
        /* justify-content: center;
        align-items: center; */
    }
}


@keyframes gradientMove {
    0% {
        background-position: -100% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

body .box-forms .logon .forms {
    .ipts {
        display: block;
        width: 100%;
        height: 60px;
        margin: 40px 0;
        outline: none;
        border: 0;
        padding: 10px 20px;
        box-sizing: border-box;
        color: var(--color-bg-body);
        transition: .3s;
        border-radius: 13px;
        font-weight: 100;
        font-size: 20px;
    }
}

body .box-forms .logon .forms .options {
    /* display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* 让内容撑满 */
    margin-top: 10px;
}

body .box-forms .logon .forms .options .custom-checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    position: relative;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin-right: 6px;
    transition: all 0.3s ease;
}

.custom-checkbox input:checked+.checkmark {
    background-color: #5dd661;
}

.custom-checkbox input:checked+.checkmark::after {
    content: "✔";
    font-size: 12px;
    color: white;
    position: absolute;
    left: 3px;
    top: 1px;
}

.forgot-password {
    font-size: 14px;
    color: #fbff00;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password:hover {
    color: #fddd3c;
}

body .box-forms .logon .forms .ipts:focus {
    background: var(--color-btn);
    box-shadow: inset 2px 6px 10px var(--color-box-shadow-top),
        inset -5px -5px 14px var(--color-box-shadow-bottom),
        6px 8px 17px var(--color-box-shadow-top),
        -5px -5px 25px var(--color-box-shadow-bottom);
}

body .box-forms .logon .forms .ipts::placeholder {
    font-weight: 100;
    font-size: 20px;
    color: var(--color-bg-body);

}

body .box-forms .logon .forms .login-btn {
    justify-content: center;
    width: 40%;
    height: 54px;
    border: 0;
    font-weight: 100;
    font-size: 15px;
    color: #f3ff94;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    margin: 10px auto;
    background: var(--color-btn);
    transition: box-shadow 0.3s ease-in-out;
    display: block;
    margin-bottom: 25px;
    margin-top: 45px;
}

body .box-forms .logon .forms .register-btn {
    width: 40%;
    height: 54px;
    border: 0;
    font-weight: 100;
    font-size: 15px;
    color: #438843;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    margin: 10px auto;
    background: #e0d838;
    transition: box-shadow 0.3s ease-in-out;
    display: block;
}

body .box-forms .logon .forms .login-btn,
body .box-forms .logon .forms .register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


body .box-forms .logon .forms .login-btn:hover {
    background: var(--color-btn);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.969);
    box-shadow: inset 2px 6px 10px var(--color-box-shadow-top),
        inset -5px -5px 14px var(--color-box-shadow-bottom),
        6px 8px 17px var(--color-box-shadow-top),
        -5px -5px 25px var(--color-box-shadow-bottom);
}

body .box-forms .logon .forms .register-btn:hover {
    background: #e0d838;
    text-shadow: 2px 2px 5px rgb(46, 122, 5);
    box-shadow: inset 2px 6px 10px #b8a818,
        inset -5px -5px 10px #f6e86b,
        6px 8px 17px #b8a818,
        -5px -5px 25px #f6e86b;
}


.protrusion {
    background: var(--color-btn);
    box-shadow: inset 0 0 0 var(--color-box-shadow-top),
        inset 0 0 0 var(--color-box-shadow-bottom),
        6px 8px 17px var(--color-box-shadow-top),
        -5px -5px 25px var(--color-box-shadow-bottom);
}

@media(max-width:912px) {
    .box-img {
        display: none;
    }
}

/* @media(max-width:740px) {
    .content {
        .box-forms {
            .logon {
                .title {
                    span {
                        font-size: 1rem;
                        font-weight: 200;
                    }
                }
            }
        }
    }
} */