:root {
    /* --color-bg-body: rgb(186, 212, 227);
    --color-bg-box: rgb(94, 126, 162);
    --color-btn: #5e7ea2;
    --color-box-shadow-top: #4c6683;
    /* --color-box-shadow-bottom: #7096c1; */
    /*86cd65 #C0EA9B*/
    /* --color-bg-body: rgb(186, 227, 186);
    --color-bg-box: rgba(94, 162, 94, 0.747);
    --color-btn: #5eA25e;
    --color-box-shadow-top: #4c834c;
    --color-box-shadow-bottom: #70c170; */

    --color-bg-body: rgb(211, 229, 203);
    --color-bg-box: #729c58;
    --color-btn: #5a8248;
    --color-box-shadow-top: #4e6b37;
    --color-box-shadow-bottom: #8fbf6e;


    /* --color-bg-body: linear-gradient(to bottom, #d8f3dc, #40916c);
    --color-bg-box: rgba(64, 145, 108, 0.85);
    --color-btn: #2d6a4f;
    --color-btn-hover: #1b4332;
    --color-box-shadow-top: rgba(60, 129, 93, 0.8);
 --color-box-shadow-bottom: rgba(79, 183, 135, 0.9); #c7f766*/
}

* {
    font-family: "titlefont", sans-serif;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(30px);
    z-index: -1;
}

body {
    padding: 0;
    margin: 0;
    /* background: linear-gradient(to bottom, rgba(249, 253, 3, 0.853), #86cd65); */
    height: 100vh;
    /* background: var(--color-bg-body); */
    transition: .3s;
    /* background: linear-gradient(-45deg, #f9f871, #a8e68c, #f9f871, #a8e68c);
    background-size: 300% 300%;
    animation: gradientFlow 18s ease-in-out infinite; */
    background-image: url(./image/IMG_3798\(20250405-021713\).JPG);
    background-size: cover;
    background-position: center;
    /* 居中对齐 */
    background-repeat: no-repeat;
    /* 防止图片重复 */
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@font-face {
    font-family: 'titlefont';
    src: url(./LXGWWenKaiGB-Regular.ttf);
}

.content {
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    box-sizing: border-box;
    border: 4px solid transparent;
    border-radius: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 2vmin 2vmin;
}

.content::before {
    content: "";
    width: 200%;
    height: 200%;
    /* border-color: #22292f; */
    background-image: conic-gradient(transparent,
            #c7f766,
            transparent 30%);

    left: -50%;
    top: -50%;
    z-index: -2;
    position: absolute;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.content::after {
    content: "";
    inset: 0.5vmin;
    border-radius: 20px;
    /* background: rgb(168, 164, 164); */
    position: absolute;
    z-index: -1;
}


body .box-img {
    flex: 1;
    position: relative;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
    background: #ffffff;
    border-radius: 20px 0 0 20px;
    z-index: 4;
}

body .box-img .head {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 45px;
}

body .box-img .img-bg {
    /* width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0; */
    width: 100%;
    height: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0;
}

body .box-img .controls {
    /* display: flex;
    top: 50%;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    transform: translateY(-50%);
    padding: 0 10px; */
    position: absolute;
    top: 50%;
    /* 让箭头位于box-img的正中央 */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    /* padding: 0 20px; */
    /* 增加左右间距，防止箭头紧贴边缘 */
    pointer-events: none;
}

body .box-img .controls .arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    pointer-events: all;
}

body .box-img .controls .iconfont {
    font-size: 30px;
    transition: .3s;
}

body .box-img .controls .iconfont:hover {
    color: #a2d5a2;
}

/* 
body .box-img .img1 {
    opacity: 1;
    background: url(./image/lv1.png);
    overflow: hidden;
} */

body .box-forms {
    flex: 1;
    /* background: var(--color-bg-box); */
    /* background: rgba(94, 162, 94, 0.955); */
    /* background: rgb(106, 175, 106); */
    background: #729c58;
    /* background: #5a8248; */
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    z-index: 4;
}


body .box-forms .logon,
body .box-forms .register {
    padding: 20%;
    position: relative;
}

body .box-forms .logon .title {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: titlefont; */

    span {
        display: block;
        margin-bottom: 45px;
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        /* background: linear-gradient(to right, yellow 10%, white 40%, white 60%, yellow 90%);
        -webkit-background-clip: text;
        background-size: 300% 100%;
        -webkit-text-fill-color: transparent;
        animation: gradientMove 3s linear infinite; */
        /* justify-content: center;
        align-items: center; */
    }
}

body .box-forms .register .title {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: titlefont;

    span {
        display: block;
        margin-bottom: 0px;
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }
}

@keyframes gradientMove {
    0% {
        background-position: -100% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

body .box-forms .logon .forms {
    .ipts {
        display: block;
        width: 100%;
        height: 60px;
        margin: 40px 0;
        outline: none;
        border: 0;
        padding: 10px 20px;
        box-sizing: border-box;
        color: var(--color-bg-body);
        transition: .3s;
        border-radius: 13px;
        font-weight: 100;
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
}

body .box-forms .register .forms {
    .ipts {
        display: block;
        width: 100%;
        height: 55px;
        margin: 35px 0;
        outline: none;
        border: 0;
        padding: 10px 20px;
        box-sizing: border-box;
        color: var(--color-bg-body);
        transition: .3s;
        border-radius: 13px;
        font-weight: 100;
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
}

body .box-forms .logon .forms .options {
    /* display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* 让内容撑满 */
    margin-top: 10px;
}

body .box-forms .register .forms .options {
    /* display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* 让内容撑满 */
    margin-top: 10px;
}

body .box-forms .logon .forms .options .custom-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #E7F586;
    cursor: pointer;
    position: relative;
}

body .box-forms .register .forms .options .custom-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #E7F586;
    cursor: pointer;
    position: relative;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin-right: 6px;
    transition: all 0.3s ease;
}

.custom-checkbox input:checked+.checkmark {
    background-color: #7bd57e;
}

.custom-checkbox input:checked+.checkmark::after {
    content: "✔";
    font-size: 12px;
    color: white;
    position: absolute;
    left: 3px;
    top: 1px;
}

.forgot-password {
    font-size: 16px;
    color: #E7F586;
    text-decoration: none;
    transition: color 0.5s ease;
}

.forgot-password:hover {
    color: #000000;
}

body .box-forms .logon .forms .ipts:focus,
body .box-forms .register .forms .ipts:focus {
    background: var(--color-btn);
    box-shadow: inset 2px 6px 10px var(--color-box-shadow-top),
        inset -5px -5px 14px var(--color-box-shadow-bottom),
        6px 8px 17px var(--color-box-shadow-top),
        -5px -5px 25px var(--color-box-shadow-bottom);
}

body .box-forms .logon .forms .ipts::placeholder,
body .box-forms .register .forms .ipts::placeholder {
    font-weight: 100;
    font-size: 20px;
    color: var(--color-bg-body);

}

body .box-forms .logon .forms .login-btn {
    justify-content: center;
    width: 40%;
    height: 54px;
    border: 0;
    font-weight: 100;
    font-size: 15px;
    color: #f3ff94;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    margin: 10px auto;
    background: var(--color-btn);
    transition: box-shadow 0.3s ease-in-out;
    display: block;
    margin-bottom: 25px;
    margin-top: 45px;
}

body .box-forms .register .forms .register-btn {
    justify-content: center;
    width: 40%;
    height: 54px;
    border: 0;
    font-weight: 100;
    font-size: 15px;
    color: #f3ff94;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    margin: 10px auto;
    background: var(--color-btn);
    transition: box-shadow 0.3s ease-in-out;
    display: block;
    margin-bottom: 25px;
    margin-top: -5px;
}

body .box-forms .logon .forms .register-btn {
    width: 40%;
    height: 54px;
    border: 0;
    font-weight: 100;
    font-size: 15px;
    color: #438843;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    margin: 10px auto;
    background: #E7F586;
    /* background: #e0d838; */
    transition: box-shadow 0.3s ease-in-out;
    display: block;
}

body .box-forms .register .forms .login-btn {
    justify-content: center;
    width: 40%;
    height: 54px;
    border: 0;
    font-weight: 100;
    font-size: 15px;
    color: #438843;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    margin: 10px auto;
    background: #E7F586;
    /* background: #e0d838; */
    transition: box-shadow 0.3s ease-in-out;
    display: block;
    margin-bottom: 25px;
    margin-top: -5px;
}

body .box-forms .logon .forms .login-btn,
body .box-forms .logon .forms .register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

body .box-forms .register .forms .login-btn,
body .box-forms .register .forms .register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

body .box-forms .register .forms .box-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20%;
}

body .box-forms .logon .forms .login-btn:hover {
    background: var(--color-btn);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.969);
    box-shadow: inset 2px 6px 10px var(--color-box-shadow-top),
        inset -5px -5px 14px var(--color-box-shadow-bottom),
        6px 8px 17px var(--color-box-shadow-top),
        -5px -5px 25px var(--color-box-shadow-bottom);
}

body .box-forms .register .forms .register-btn:hover {
    background: var(--color-btn);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.969);
    box-shadow: inset 2px 6px 10px var(--color-box-shadow-top),
        inset -5px -5px 14px var(--color-box-shadow-bottom),
        6px 8px 17px var(--color-box-shadow-top),
        -5px -5px 25px var(--color-box-shadow-bottom);
}

body .box-forms .logon .forms .register-btn:hover {
    background: #E7F586;
    text-shadow: 2px 2px 5px rgba(55, 112, 20, 0.7);
    box-shadow: inset 2px 6px 10px #a8c45c,
        inset -5px -5px 14px #f4ffae,
        6px 8px 17px #a8c45c,
        -5px -5px 25px #f4ffae;
}

body .box-forms .register .forms .login-btn:hover {
    background: #E7F586;
    text-shadow: 2px 2px 5px rgba(55, 112, 20, 0.7);
    box-shadow: inset 2px 6px 10px #c4d572,
        inset -5px -5px 14px #ffff9a,
        6px 8px 17px #c4d572,
        -5px -5px 25px #ffff9a;
}

.box-forms .register {
    display: none;
    transition: all 0.5s ease;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    width: 100%;
}

.btn-row .register-btn,
.btn-row .login-btn {
    width: 48%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.protrusion {
    background: var(--color-btn);
    box-shadow: inset 0 0 0 var(--color-box-shadow-top),
        inset 0 0 0 var(--color-box-shadow-bottom),
        6px 8px 17px var(--color-box-shadow-top),
        -5px -5px 25px var(--color-box-shadow-bottom);
}


.box-forms .circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
    z-index: 0;
    pointer-events: none;
}


.box-forms .circle1 {
    width: 120px;
    height: 120px;
    background: rgba(123, 213, 126, 0.3);
    top: 80px;
    right: 20px;
    animation: float-left-up 7s ease-in-out infinite;
}

.box-forms .circle2 {
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, 0.2);
    /* 黄绿 */
    bottom: 62px;
    left: 20px;
    animation: float-right-down 6s ease-in-out infinite;
}

.box-forms .circle3 {
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    /* 深绿 */
    top: 250px;
    left: 60px;
    animation: float-up-down 5.5s ease-in-out infinite;
}

.box-forms .circle4 {
    width: 60px;
    height: 60px;
    background: #a0e0a0;
    top: 350px;
    left: 400px;
    z-index: 0;
    animation: float-zigzag 8s ease-in-out infinite;
}

@keyframes float-left-up {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-12px, -15px) rotate(-10deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes float-right-down {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(14px, 10px) rotate(8deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes float-up-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-18px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes float-zigzag {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-5px, 6px);
    }

    50% {
        transform: translate(6px, -5px);
    }

    75% {
        transform: translate(-4px, -8px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.circle-img {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    /* object-fit: cover; */
    /* transform: rotate(270deg); */
    z-index: 10;
    /* filter: blur(0.1px); */
    /* opacity: 0.8; */
}

.register .circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
    z-index: 0;
    pointer-events: none;
}

.register .circle1 {
    width: 80px;
    height: 80px;
    background: rgba(119, 242, 148, 0.288);
    top: 180px;
    right: 20px;
}


.register .circle2 {
    width: 80px;
    height: 80px;
    background: rgba(8, 74, 1, 0.952);
    /* 黄绿 */
    bottom: 400px;
    left: 30px;
}

.register .circle3 {
    width: 60px;
    height: 60px;
    background: rgba(132, 204, 114, 0.801);
    top: 450px;
    left: 180px;
}

.register .circle4 {
    width: 60px;
    height: 60px;
    background: #497a48;
    top: 500px;
    right: 20px;
    z-index: 0;
    animation: float-zigzag 8s ease-in-out infinite;
}

.fade {
    animation: fadein 0.8s ease;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0.98);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* 创建虚线隔开 */
.divider {
    width: 100%;
    border-bottom: 1px dashed #ccc;
    margin-top: 30px;
}

/* 其他现有样式 */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    width: 340px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    animation: fadeIn 0.3s ease;
}

.modal-content {
    text-align: center;
}

.modal-content input {
    width: 95%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;

}

.modal-content input:focus {
    outline: none;
    border: 1px solid #5ea281;
    /* 或你喜欢的颜色，比如绿色 #4CAF50 */
    box-shadow: 0 0 5px rgba(49, 110, 22, 0.678);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.modal-content button {
    padding: 10px;
    width: 50%;
    margin-top: 10px;
    background-color: #5b8543be;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #5b8543be;
}

.modal-content .reset {
    margin-top: 20px;
    /* 增大 margin-top 数值将按钮向下移动 */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #999;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.tab-btn {
    flex: 1;
    padding: 10px;
    background: #eee;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 6px;
    margin-right: 10px;
}

.tab-btn:last-child {
    margin-right: 0;
}

.tab-btn.active {
    background: #c0c0c0;
    color: rgb(255, 255, 255);
    border-radius: 0px 0px 0 0;
}

.verify-group {
    display: flex;
    gap: 5px;
}

.verify-group input {
    flex: 1;
}

.verify-group button {
    flex-shrink: 0;
    width: 100px;
    padding: 8px;
    font-size: 12px;
}

@media(max-width:912px) {

    .box-img,
    .circle-img {
        display: none;
    }
}



/* @media(max-width:740px) {
    .content {
        .box-forms {
            .logon {
                .title {
                    span {
                        font-size: 1rem;
                        font-weight: 200;
                    }
                }
            }
        }
    }
} */