/* @import url('https:fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); */

:root {
    --main-color: rgb(220, 123, 112);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
    list-style: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    /* 平滑滚动 */
    scroll-behavior: smooth;
}

body {
    background: #fcf2e8;
    padding-left: 30rem;
}

.heading {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: #111;
    text-transform: uppercase;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.bnt {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.bnt:hover {
    background: #666;
    letter-spacing: .2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #222;
    /* 弹性布局 给父级 */
    display: flex;
    /* 两端对齐，每个项目之间的间隔相等 */
    justify-content: space-between;
    align-items: center;
    /* 重叠盒子 */
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
}

header .logo {
    text-transform: uppercase;
    color: aliceblue;
    font-size: 3rem;
    font-weight: bolder;

}

header .logo span {
    text-transform: uppercase;
    color: rgb(220, 123, 112);
}

header .navbar a {
    /* 转化成块元素 */
    display: block;
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0;
}

header .navbar a:hover {
    letter-spacing: .2rem;
    color: var(--main-color);
}

section {
    padding: 1rem 5%;
    min-height: 100vh;
}

.icon-Menu {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background: var(--main-color);
    color: #fff;
    font-size: 3rem;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.cursor-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active {
    height: 7rem;
    width: 7rem;
    opacity: .3;
}

.cursor-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    border: .1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.cursor-2.active {
    display: none;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    width: 100%;
}

.home .content {
    flex: 1 1 40rem;
}

.home .content .hi {
    font-size: 2rem;
    color: var(--main-color);
}

.home .content h3 {
    font-size: 4.5rem;
    color: black;
    text-transform: uppercase;
}


.home .content h3 span {
    color: var(--main-color);
    text-transform: uppercase;
}

.home .content .info {
    font-size: 2.5rem;
    color: black;
    padding: 5rem 0;
}

.home .content .text {
    font-size: 1.7rem;
    color: #666;
    padding: 5rem 0;
}

.about .row-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.about .row-1 .image {
    flex: 1 1 25rem;
}

.about .row-1 .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.about .row-1 .content {
    flex: 1 1 50rem;
}

.about .row-1 .content h3 {
    color: #333;
    font-size: 3.5rem;
}

.about .row-1 .content p {
    color: #666;
    font-size: 1.7rem;
    padding: .5rem 0;
    margin-top: 20px;
}

.about .row-1 .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: .5rem 0;
}

.about .row-1 .content .box-container .box {
    flex: 1 1 20rem;

}

.about .row-1 .content .box-container .box span {
    color: var(--main-color);
}

.about .row-2 {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
}

.about .row-2 .skills .progress {
    padding: 1rem 0;
}

.about .row-2 .skills .progress h3 {
    display: flex;
    justify-content: space-between;
    padding: .7rem 0;
    font-size: 1.7rem;
    color: #111;
    font-weight: 400;
}

.about .row-2 .skills .progress .bar {
    width: 100%;
    background: #ccc;
    overflow: hidden;
    height: 1rem;
    border-radius: 50rem;
}

.about .row-2 .box-container {
    flex: 1 1 4rem;
}

.square {
    position: relative;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-top: 10rem;
    margin-left: 5rem;
    margin-bottom: 10rem;
}

.row-1 #square {
    margin-right: 10rem;
}

.square span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.square:hover span:nth-child(1) {
    background: rgb(220, 123, 112, 0.5);
    border: none;
}

.square span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.square:hover span:nth-child(2) {
    background: rgb(220, 123, 112, 0.5);
    border: none;
}

.square span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 10s linear infinite;
}

.square:hover span:nth-child(3) {
    background: rgb(220, 123, 112, 0.5);
    border: none;
}

.pictures {
    perspective: 800px;
}

.pictures .boxs {


    position: relative;
    width: 200px;
    height: 150px;
    margin: 150px auto;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;

}

.pictures .boxs div {

    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    /* background: no-repeat; */

}

@keyframes rotate {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}




.pictures .boxs div:nth-child(1) {
    background-image: url(./image/pic1.jpg);
    transform: translateZ(300px);
}

.pictures .boxs div:nth-child(2) {
    background-image: url(./image/pic2.jpg);
    transform: rotateY(60deg) translateZ(300px);
}


.pictures .boxs div:nth-child(3) {
    background-image: url(./image/pic3.jpg);
    transform: rotateY(120deg) translateZ(300px);
}


.pictures .boxs div:nth-child(4) {
    background-image: url(./image/pic4.jpg);
    transform: rotateY(180deg) translateZ(300px);
}

.pictures .boxs div:nth-child(5) {
    background-image: url(./image/pic5.jpg);
    transform: rotateY(240deg) translateZ(300px);
}


.pictures .boxs div:nth-child(6) {
    background-image: url(./image/pic6.jpg);
    transform: rotateY(300deg) translateZ(300px);
}

.pictures .text {
    width: 100%;
    height: 300px;
    border: 3px dotted var(--main-color);
    margin: 0 auto;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(./image/back.jpg);
}

.experience .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.experience .box-container .box {
    position: relative;
    flex: 1 1 33rem;
    border-left: .2rem solid var(--main-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.experience .box-container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: var(--main-color);

}

.experience .box-container .box .content {
    background: #fff;
    padding: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.experience .box-container .box .content span {
    color: #fff;
    font-size: 1.7rem;
    background: var(--main-color);
    border-radius: 50rem;
    padding: .4rem 1rem;
}

.experience .box-container .box .content h3 {
    font-size: 2rem;
    padding: .5rem 0;
    color: #111;

}

.experience .box-container .box .content p {
    font-size: 1.5rem;
    color: #666;

}


.experience .box-container .box1,
.experience .box-container .box2,
.experience .box-container .box3,
.experience .box-container .box4 {
    display: flex;
    overflow: hidden;
    width: 200px;
    height: 150px;
    margin: 10px 30px;
    border: 1px solid #CD8073;
}

.experience .box-container .box1::before {
    content: '';
    display: block;
    background: url(./image/tu1.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    transform-origin: left bottom;
    transition: all .4s;
}

.experience .box-container .box1:hover::before {
    transform: rotate(0deg);
}

.experience .box-container .box2::before {
    content: '';
    display: block;
    background: url(./image/tu2.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    transform-origin: left bottom;
    transition: all .4s;
}

.experience .box-container .box2:hover::before {
    transform: rotate(0deg);
}

.experience .box-container .box3::before {
    content: '';
    display: block;
    background: url(./image/tu3.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    transform-origin: left bottom;
    transition: all .4s;
}


.experience .box-container .box3:hover::before {
    transform: rotate(0deg);
}

.experience .box-container .box4::before {
    content: '';
    display: block;
    background: url(./image/tu4.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    transform-origin: left bottom;
    transition: all .4s;
}

.experience .box-container .box4:hover::before {
    transform: rotate(0deg);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.square .content {
    position: relative;
    padding: 40px 60px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

.performance .shell {
    width: 1100px;
    height: 650px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, .25);

}

.performance .shell .images {
    width: 500%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: .2s;
}

.performance .shell .images .img {
    width: 100%;
    background-size: cover;

}

.performance .shell .images .img:nth-child(1) {
    background: url(./image/l1.png) center no-repeat;
}

.performance .shell .images .img:nth-child(2) {
    background: url(./image/l2.png) center no-repeat;
}

.performance .shell .images .img:nth-child(3) {
    background: url(./image/l3.png) center no-repeat;
}

.performance .shell .images .img:nth-child(4) {
    background: url(./image/l4.png) center no-repeat;
}

.performance .shell .images .img:nth-child(5) {
    background: url(./image/l5.png) center no-repeat;
}

.performance .shell .min {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 40px;
    width: 30%;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
}

.performance .shell .min .m {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.5) 5px;
    background-color: #fff;

}

.performance .shell .button {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.performance .shell .button .button-left,
.performance .shell .button .button-right {
    font-size: 50px;
    background-color: rgba(160, 193, 255, 0.2);
    padding: 0 20px;
    cursor: pointer;
    line-height: 700px;
    color: #fff;
}

.contact .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    transition: all .8s;

}

.contact .icons-container .icons {
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1); */
    border-radius: .5rem;
    width: 300px;
    height: 200px;
    float: left;
}

.contact .icons-container .i1 {
    background-image: url(./image/i1.png);
    background-size: cover;
}

.contact .icons-container .icons:hover {
    transform: scale(1.3, 1.3);
    border: 2px solid rgba(0, 0, 0, .3);

}

.contact .icons-container .i2 {
    background-image: url(./image/i2.JPG);
    background-size: cover;
}

.contact .icons-container .i3 {
    background-image: url(./image/i3.jpg);
    background-size: cover;
}

.contact .icons-container .icons h3 {
    color: #fff;
    font-size: 2rem;
    padding: .5rem 0;
}

.contact .icons-container .icons p {
    color: #fff;
    font-size: 1.7rem;
}

.contact .bg {
    background-image: url(./image/bb.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 70vh;
    font-size: 250px;
    text-align: center;
    position: relative;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;

}

/* 
.contact .bg::before {
    content: '';
    background-size: cover;
    background-image: inherit;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -99;
} */





















































@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    body {
        padding: 0;
    }

    .icon-Menu {
        display: initial;
    }

    header {
        left: -120%;
    }

    header.active {
        left: 0%;
    }

    .cursor-1,
    .cursor-2 {
        display: none;
    }
}



@media (max-width:500px) {
    html {
        font-size: 50%;
    }

    header {
        width: 100%;
    }
}