@font-face {
  font-family: "iconfont";
  /* Project id 4474408 */
  src: url('iconfont.woff2?t=1740656800635') format('woff2'),
    url('iconfont.woff?t=1740656800635') format('woff'),
    url('iconfont.ttf?t=1740656800635') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-welcomezhuanhuan:before {
  content: "\e6b1";
}