@font-face {
  font-family: "iconfont"; /* Project id 4474408 */
  src: url('iconfont.woff2?t=1740729596844') format('woff2'),
       url('iconfont.woff?t=1740729596844') format('woff'),
       url('iconfont.ttf?t=1740729596844') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huanbao:before {
  content: "\e638";
}

.icon-fengche:before {
  content: "\e600";
}

.icon-zu2557:before {
  content: "\e601";
}

