* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(220, 123, 112);
}

.cursor-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active {
    height: 7rem;
    width: 7rem;
    opacity: .3;
}

.cursor-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    border: .1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}


.cursor-2.active {
    display: none;
}

body {
    overflow: hidden;
}

.topic {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 10px;
}

.topic #myicon {
    font-size: 35px;
    color: rgb(228, 78, 120);
    display: inline-block;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 10px;
}

.topic span {
    font-size: 23px;
    color: #756d68;
    margin-top: 5px;
    position: relative;
    /* 必须有定位属性才能使用 z-index */
    z-index: 10;
    letter-spacing: 3px;
}

seciton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

section .color {
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1) {
    top: -350px;
    width: 1000px;
    height: 800px;
    background: #f9b2a9;
}

section .color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 600px;
    height: 500px;
    background: #eed6ca;
}

section .color:nth-child(3) {
    bottom: 50px;
    right: 100px;
    width: 400px;
    height: 500px;
    background: #b1aba4;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-60px);
    }

    50% {
        transform: translateY(60px);
    }
}

.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;

}

.box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;

}

.box .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;

}

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgb(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;

}

.form h2 {
    position: relative;
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 30px;
    margin-bottom: 60px;
    margin-left: 120px;
    text-shadow: 0 0 1px #756d68;
}

.form h2::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.form .inputBox {
    width: 100%;
    margin-top: 20px;
}

.form .options {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    /* color: #998c84; */
    color: #888;
    border: none;
    outline: none;
    margin-top: 20px;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

select:focus option:checked {
    background-color: #f9b2a9;
    color: #666;
}

.form .inputBox input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form .inputBox input ::placeholder {
    color: #fff;
}

.form .inputBox input[type="submit"] {
    background: #fff;
    color: #666;
    /* max-width: 100px; */
    cursor: pointer;
    font-weight: 600;
}

.form .inputBox input[type="submit"]:hover {
    background-color: rgb(243, 157, 147);
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

#error_message {
    display: none;
    text-align: center;
    color: crimson;
    height: 10px;
    margin-top: 5px;
}

#success_message {
    display: none;
    text-align: center;
    color: rgb(21, 180, 21);
    height: 10px;
    margin-top: 5px;
}