@font-face {
  font-family: "iconfont";
  /* Project id 4474408 */
  src: url('iconfont.woff2?t=1710928531100') format('woff2'),
    url('iconfont.woff?t=1710928531100') format('woff'),
    url('iconfont.ttf?t=1710928531100') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Menu:before {
  content: "\e652";
}

.icon-chahao:before {
  content: "\e641";
}

.icon-sanjiaoleft::before {
  content: '\e6b6';
}

.icon-sanjiaoright::before {
  content: '\e6b7';
}